.m-top{
  margin-top: 100px !important;
}

.about__section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 5.688rem;
}

.section1-article1 {
  text-align: left;
  flex: 1;
  min-width: 490px;
}

.about__section-1 > article > h6 {
  font-size: 14px;
  font-weight: 600;
  opacity: 85%;
  color: #0266f4;
}

.about__section-1 > article > h3 {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 800;
}

.about__section-1 > article > p {
  color: #1c1d1d;
  font-size: 16px;
  font-weight: normal;
  opacity: 85%;
}

.section1-article2 {
  min-width: 40rem;
  height: 40rem;
  flex: 1;
}

.section1-article2 > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.about__section-2 {
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: relative;
}

.about__section-2 > div {
  position: absolute;
}

.about__section-2 > div:nth-child(1) {
  left: 0;
  top: 190px;

  width: 96px;
  height: 97px;
}

.about__section-2 > div:nth-child(2) {
  left: 30px;
  top: 0;

  width: 390px;
  height: 254px;
}

.about__section-2 > div:nth-child(3) {
  left: 229px;
  top: 250px;

  width: 326px;
  height: 248px;
}

.about__section-2 > div:nth-child(4) {
  left: 574px;
  top: 180px;

  width: 311px;
  height: 235px;
}

.about__section-2 > div:nth-child(5) {
  left: 904px;
  top: 260px;

  width: 308px;
  height: 204px;
}

.about__section-2 > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__section-3 > h3 {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: bold;
  margin-top: 600px;
  margin-bottom: 15px;
}

.about__section-3 > p {
  color: #1c1d1d;
  opacity: 85%;
  font-size: 16px;
  margin-bottom: 59px;
}

.about__section-3 > article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 33px;
  column-gap: 158px;
  margin-bottom: 105px;
}

.about__section-3 > article > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 260px;
  text-align: left;
}

.about__section-3 > article > div > div {
  width: 33.53px;
  height: 33.53px;
  border-radius: 50%;
  margin-bottom: 13px;
}

.about__section-3 > article > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about__section-3 > article > div > p {
  color: #292929;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}

.about__section-3 > article > div > span {
  color: #292929;
  font-size: 14px;
  width: 260px;
}

.about__section-4 {
  text-align: left;
}

.about__section-4 > h3 {
  color: #1a1a1a;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about__section-4 {
  width: 100%;
  margin-bottom: 178.5px;
}

.about__section-4 > div {
  text-align: center;
}

.about__section-4 p {
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .section1-article2 {
    min-width: unset;
    width: 40rem;
    height: 40rem;
    flex: 1;
  }

  .section1-article2 > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about__section-2 > div:nth-child(2) {
    left: 10px;
  }

  .about__section-2 > div:nth-child(3) {
    left: 100px;
  }

  .about__section-2 > div:nth-child(4) {
    left: 430px;
  }

  .about__section-2 > div:nth-child(5) {
    left: 740px;
  }
}

@media screen and (max-width: 1100px) {
  .about__section-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 40px;
  }
  .about__section-2 > div {
    position: unset;

    width: 390px !important;
    height: 254px !important;

    top:0;
    left: 0;
  }

  .about__section-2 > div:nth-child(1) {
    display: none;
  }

  .about__section-3 > h3 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 997px) {
  .about__section-1 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .section1-article1 {
    text-align: left;
    flex: 1;
    width: 100%;
    min-width: 100%;
  }

  .about__section-2 {
    margin-top: 0;
  }

  .section1-article2 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .about__section-3 > h3 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .about__section-3 > p {
    color: #1c1d1d;
    opacity: 85%;
    font-size: 16px;
    margin-bottom: 59px;
  }

  .about__section-3 > article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 33px;
    column-gap: 158px;
    margin-bottom: 105px;
  }

  .about__section-3 > article > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 260px;
    text-align: left;
  }

  .about__section-3 > article > div > div {
    width: 33.53px;
    height: 33.53px;
    border-radius: 50%;
    margin-bottom: 13px;
  }

  .about__section-3 > article > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about__section-3 > article > div > p {
    color: #292929;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 9px;
  }

  .about__section-3 > article > div > span {
    color: #292929;
    font-size: 14px;
    width: 260px;
  }

  .about__section-4 {
    text-align: left;
  }

  .about__section-4 > h3 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .about__section-4 > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .about__section-4 > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 425px) {
  .about__section-2 > div:nth-child(3) {
    display: none;
  }

  .about__section-2 > div:nth-child(4) {
    display: none;
  }

  .about__section-2 > div:nth-child(5) {
    display: none;
  }
}
