.assignment-modal {
  color: #080730;
  height: 100%;
  width: 37%;
  background-color: #ffffff;
  padding: 41px 27px 57.5px 28px;
  position: relative;

  & > article {
    & > div:nth-child(1) {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 45px;

      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }

      svg {
        color: #0266f4;
        cursor: pointer;
      }
    }
    h5 {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 600;
    }

    h6 {
      font-size: 14px;
      margin-bottom: 12px;
    }

    .description-input {
      width: 100%;
      margin-bottom: 56px;

      textarea {
        width: 100%;
        height: 120px;
        background-color: #fefeff;
        border: 0.8px solid #ced4da;
        border-radius: 3.25px;
        padding: 9.5px 7px 12px 9.5px;
        outline: none;
        resize: none;
        margin: 0;
        overflow-y: scroll;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }

        color: #1c1d1d;
        font-size: 14px;
        flex-direction: column;
      }
    }

    .attachment {
      font-weight: 600;
    }

    article {
      width: 100%;
      height: 40px;

      & > div {
        height: 100%;
        width: 100%;
        cursor: pointer;
        .file-upload {
          display: none;
        }

        label {
          height: 100%;
          padding-left: 21px;
          border-top-left-radius: 3.25px;
          border-bottom-left-radius: 3.25px;
          border: 1px dashed #0266f4;
          background-color: #0266f41a;

          color: #1c1d1d;
          font-size: 14px;
          cursor: pointer;

          svg {
            color: #0266f4;
            margin-right: 12px;
          }
        }
      }

      button {
        height: 100%;
        width: 128px;
        border: none;
        border-radius: 3.75px;
        background: #0266f4;

        color: #ffffff;
        font-size: 14px;
      }
    }
  }
  .modal-btns {
    gap: 20px;
    position: absolute;
    right: 2%;
    bottom: 58px;

    button {
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
      height: 36px;
    }

    .submit {
      border: none;
      width: 144px;
      background-color: #0266f4;

      color: #fbfeff;
    }

    .cancel {
      width: 100px;
      background-color: #ffffff52;
      border: 1px solid #6c757d;
      color: #152935;
    }
  }
}


@media screen and (max-width: 998px) {
    .assignment-modal {
        width: 100%;
        padding-top: 70px;
  
        & > article {
          article {
            & > div {
              label {
                justify-content: flex-start;
              }
            }
          }
        }
      }
}