.blogPage__section1 {
    padding-top: 88px;
    padding-left: 220px;
    padding-right: 290px;
    height: 467px;
    background-image: url("../Icons&Images/TechStudioImages/contactbg.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
        width: 100%;
        font-size: 36px;
        font-weight: bold;
        color: #FFFFFF;
    }

    div {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 79px;
        margin-bottom: 41px;

        p {
            color: #FFFFFF;
            font-size: 16px;
        }
    }
}

.blogPage__section2 {
    padding: 0 238px 0 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    &>div {
        width: 939px;
        height: 494px;
        margin-top: -200px;
        margin-bottom: 54px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    p {
        width: 939px;
        font-size: 16px;
        color: #707070;
    }

    article {
        width: 939px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 21px;

        &>div {
            width: 299px;
            height: 238px;
            margin-top: 42px;
            margin-bottom: 42px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.blogPage__section3 {
    margin-top: 120px;
    margin-bottom: 110px;
    width: 100%;

    h3 {
        text-align: center;
        color: #1F2666;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 22px;
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;
        flex-wrap: wrap;

        &>div {
            width: 372px;

            &>div {
                width: 100%;
                height: 240px;
                margin-bottom: 10px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            span {
                color: #969494;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 12px;
            }

            h6 {
                color: #1F2666;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 12px;
            }

            p {
                color: #4A5568;
                font-size: 14px;
                margin-bottom: 16px;
            }

            button {
                width: 158px;
                height: 40px;
                border: 1.6px solid #004E98;
                background: none;

                color: #004E98;
                font-size: 14px;
            }
        }
    }
}

.blogPage__section4 {
    margin-top: 200px;
    padding-left: 112px;
    padding-right: 80px;
}

@media screen and (max-width: 1200px) {
    .blogPage__section2 {
        padding: 0 20px 0 20px;
    }

    .blogPage__section3 {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 998px) {

    .blogPage__section2 {
        &>div {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            width: 100%;
        }

        article {
            width: 100%;
            flex-wrap: wrap;
            gap: 0;
        }
    }
}