.bg-contact {
    background-image: url("../Icons&Images/TechStudioImages/contactbg.png");
    height: 300px;
    width: 100%;
    padding-top: 70px;
    // align-items: center;
}

.contact-h1 {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0px;
    opacity: 1;
    // margin-top: 50px;
}

// Second Component
.contact-h2 {
    color: #1F2666;
    font-weight: bold;
}

.contact-p {
    color: #1F2666;
    font-weight: bold;
}

.sm {
    padding: 10px 100px;
}

@media (min-width: 768px) {

    .contact-container {
        margin-top: 80px;
        padding-left: 50px;
    }
}

@media (max-width: 720px) {

    .contact-component-3{
        text-align: center!important;
    }


}