.intro {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6fa;
  align-items: flex-start;
  justify-content: center;

  padding-left: 3.875rem;

  & > section {
    color: #1f2666;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 3px 6px #00000029;
    position: relative;

    width: 80%;
    padding: 3.75rem 0 4.75rem 4.37rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 800;
      margin-bottom: 14px;
    }

    & > p {
      font-size: 1rem;
      margin-bottom: 52px;
    }

    h5 {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 14px;
    }

    div {
      width: 45%;
      margin-bottom: 52px;

      & > p {
        font-size: 1rem;
        margin-bottom: 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #0266f4;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    & > h6 {
      color: #1f2666;
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 60px;
    }

    button {
      width: 10rem;
      height: 48px;

      background: #0266f4;
      color: #fdffff;

      border: none;
      border-radius: 4px;

      font-size: 1rem;
      font-weight: 600;
    }

    article {
      width: 26.313rem;
      height: 25rem;
      position: absolute;
      bottom: -2.5%;
      left: 80%;
    }
  }

  & > div {
    position: absolute;
    top: 27px;
    right: 33px;
  }
}

@media screen and (max-width: 998px) {
  .intro {
    width: 100%;
    align-items: center;
    padding: 0;

    & > section {
      width: 90%;
      padding: 5%;

      div {
        width: 60%;
      }

      article {
        display: none;
      }
    }

    & > div {
      top: 2%;
      right: 5%;
    }
  }
}
@media screen and (max-width: 550px) {
  .intro {
    width: 100%;
    align-items: center;
    padding: 0;
    & > section {
      background: none;
      border-radius: 0;
      box-shadow: unset;

      width: 98%;
      padding: 5%;

      h1 {
        margin-bottom: 10px;
      }

      & > p {
        margin-bottom: 20px;
      }

      div {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    & > div {
      top: 3%;
      right: 5%;
    }
  }
}
