* {
  padding: 0;
  margin: 0;
  font-size: calc(10px + 0.390625vw);
  text-decoration: none;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;

  @media screen and (min-width: 48em) {
    font-size: calc(7px + 0.390625vw);
  }
}
.page14{
    margin-top: 100px;
}
  .firsth2{
    color: #1F2666;
  }
  .img_dots1{
    width: 20%;
    /* height: 14%; */
    margin-left: 85%;
    margin-bottom: 70%;
   
    
  }
  .form1{
    background-color: white;
    /* height: 100%; */
    padding: 10%;
    position: relative;
    top: 5%;
    
  }
  .formdiv{
    background-color: #DCE9FA;
    width: 45%;
    padding: 5%;
  }
  
  .find_div{
    width: 50%;
    padding-top: 6%;
    /* background-color: #0266F4; */
    
  }
  .find_div2{
    width: 50%;
    /* padding-top: 6%; */
    /* background-color: #0266F4; */
    
  }
  .sec_1{
    height: 420px;
    /* background-color: #3c4489; */
    display: flex;
    margin-block-end: 10%;
    /* padding: 10%; */
  }
  .input1{
    font-size: 55%;
    width: 95%;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid grey;
    margin-block-end: 8%;
  
  }
  .inputbtn{
    background-color: #0266F4;
    color: whitesmoke;
    border: none;
    width: 96%;
    padding: 2%;
    border-radius: 5px;
  }
  .htw{
    font-style: Open Sans, Bold
  }
  .sec_2{
    background-color: #F5F6FA;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .sec_2a{
    width: 32%;
    background-color: #FFFFFF;
    padding: 3%;
  }
  .sec_2div{
    display: flex;
    justify-content: space-between;
  }
  .HTW{
    color: #1F2666;
  }
  .p_1{
    font-size: small;
  }
  .HTW2{
    color:  #1C1C1D;
    margin-block-end: 5%; 
    
  }
  .d_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 3%;
    
  }
  .sec_3{
    padding-bottom: 10%;
    padding-top: 10%;
  }
  .sec_4{
    background-color: #DCE9FA;
  }
  .sec_4a{
    height: 600px;
    background-color: #DCE9FA;
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
  }
  .form2{
    background-color: white;
    height: 385px;
    padding: 5%;
    width: 35%;
  }
  
.Hire{
  margin-block-end: 10%;
}

@media (max-width: 2560px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
  .sec_1{
    display: block;  
    margin-block-end: 35%;
  }
  .formdiv{
    height: 100%;
  }
  .d_grid{
    display: block;
  }
  .sec_2a{
    width: 100%;
    background-color: #FFFFFF;
    padding: 3%;
    margin-block-end: 5%;
  }
  .sec_2div{
    display: block;
  }
  .sec_2{
    /* margin-block-end: 5%; */
    height: 900px;
  }
  .sec_4a{
    display: block;
  }
  .form2{
    width: 100%;
    height: 400px;
  }
  .find_div2{
    width: 100%;
  }
  .find_div{
    width: 100%;
  }
  .formdiv{
    height: 80%;
    width: 100%;
  }
}
@media (max-width: 425px) {}
@media (max-width: 320px) {}