.mobile-nav {
  display: none;
}

.side-nav {
  min-height: 100vh;
  width: 100%;
  justify-content: flex-start;
  padding: 31px 18px 0;
  background-color: #1f2666;

  section {
    width: 28px;
    height: 28px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  article {
    margin-top: 58px;
    gap: 37px;

    .active {
      color: #ffffff;

      P {
        color: #ffffff;
      }
    }

    div {
      width: 26px;
      height: 15px;
      color: #c0c0c180;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    p {
      color: #c0c0c180;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 998px) {
  .side-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;

    & > article {
      padding: 27px 33px;
    }

    & > section {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100%;

      & > div {
        position: fixed;
        height: 100%;
        width: 100px;
        top: 0;
        margin: 0;
        padding: 31px 18px 0;
        background-color: #1f2666;
        justify-content: flex-start;

        section {
          width: 28px;
          height: 28px;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        article {
          margin-top: 58px;
          gap: 37px;

          .active {
            color: #ffffff;

            P {
              color: #ffffff;
            }
          }

          div {
            width: 26px;
            height: 15px;
            color: #c0c0c180;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          p {
            color: #c0c0c180;
            font-size: 14px;
          }
        }
      }
    }

    svg {
      width: 35px;
      height: 35px;
      color: #00000029;
    }
  }
}

@media screen and (max-width: 550px) {
  .mobile-nav {
    & > article {
      padding: 27px 2.5%;
    }
  }
}
